<!DOCTYPE html>
<html lang="en">
<head>
	<title>Explore Sign In</title>
	<link rel="stylesheet" href="css/signin.css">
	<link rel="shortcut icon" type="image/gif" href="img/odv-icon.gif">
</head>
    
<body>

	<section>
		<img src="img/explore-logo.gif" width="500" height="320"/>
	</section>
	<p>&nbsp;</p> <p>&nbsp;</p> 
	<section>
		<a class="button" href="/login">Sign in</a>
	</section>
	
</body>
</html>
